.rib {
  direction: rtl;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  float: right;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  color: #57616a;
}
